.files {
  margin-top: 48px;
  margin-bottom: 32px;
  padding: 8px;
}

.filesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.filesHeading {
  color: #888;
  font-weight: 500;
}
